extends templates/layout_main

block content
    .container-fluid
        .row
            div(class='alert alert-info' style='background-color: #3c8dbc !important')
                h4
                  = 'Last Updated on ' + updateTime
                span Student Name: #{student_name}
        .row
            button(class='btn btn-default col-sm-offset-10 col-sm-1') Update
            button(class='btn btn-default col-sm-1') Download
        hr
        .row
            textarea(class='form-control' rows='20' placeholder='Updating results will be displayed here...' disabled)