//
   Created by puddingtea07 on 11/17/16.
link(rel='stylesheet', href='/static/stylesheets/bootstrap.css')
link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
link(rel='stylesheet', href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
link(rel='stylesheet', href='/static/stylesheets/AdminLTE.css')
link(rel='stylesheet', href='/static/stylesheets/skin-blue-light.css')
